
/* Home Nav Bar Styles */
.home-navbar-container ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  .home-navbar-container li {
    float: left;
  }
  
  .home-navbar-container li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .home-navbar-container li a:hover:not(.active) {
    background-color: #111;
  }
  
  .home-navbar-container .active {
    background-color: #04AA6D;
  }
/* ############################################################# */  